Repository redis/redis, pull requests merged in 2018-10, with the labels that each got.

#5201 AOF: discard if we lost EXEC when loading aof
  src/aof.c
  src/multi.c
Labels: critical bug

#5462 migrate: fix mismatch of RESTORE reply when some keys have expired.
  src/cluster.c
Labels: cluster, critical bug

#5453 Overhead is the allocated size of the AOF buffer, not its length
  src/evict.c
  src/object.c
Labels: AOF, memory efficiency

#5367 Prevent RDB autosave from overwriting full resync results
  src/replication.c
Labels: critical bug, replication
